/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  padding-top: 50px;
}

#flash_notice{
	border-radius: 4px;
	padding: 0.5em;
	color: white;
	font-weight: bold;
	text-align: center;
	background: green;
}

#flash_alert{
	border-radius: 4px;
	padding: 0.5em;
	color: white;
	font-weight: bold;
	text-align: center;
	background: red;
}
